Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace*
*.uasset

Content/*

!Content/Blueprints/
!Content/Blueprints/**
!Content/Blueprints/**/*.uasset
!Content/Blueprints/**/*.umap

!Content/Maps/
!Content/Maps/**
!Content/Maps/**/*.umap